body {
    font-family: "Red Hat Display", sans-serif;
}

.black-text {
    font-weight: 900;
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.grey-text {
    color: $dark-grey;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 1.7;
}

